{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Benyamin Biglari</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}" >
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/simple-line-icons.css' %}">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/slicknav.css' %}">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/menu_sideslide.css' %}">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/slide-style.css' %}">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/nivo-lightbox.css' %}" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    {% block heather %}


    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="/">
                  صفحه اصلی
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">
                  درباره من
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  خدمات
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#resume">
                  رزومه
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolios">
                نمونه کار ها
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/account/register">
                  تماس با من
                </a>
              </li>
            </ul>
          </div>
        </div>



        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#resume">resume</a>
          </li>
          <li>
            <a href="#portfolio">Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
        {% endblock heather %}
      <!-- Navbar End -->

      <!-- Hero Area Start -->
    {% block body %}


      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <div class="contents">
                <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">این منم</h5>
                <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">بنیامین بیگلری</h2>
                <p class="script-font wow fadeInUp" data-wow-delay="0.6s">طراح وب , برنامه نویس پایتون</p>
                <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                  <li>
                    <a class="twitter" href="/account/register"><i class="icon-social-twitter"></i></a>
                  </li>
                  <li>
                    <a class="instagram" href="/account/register"><i class="icon-social-instagram"></i></a>
                  </li>
                  <li>
                    <a class="google" href="/account/register"><i class="icon-social-google"></i></a>
                  </li>
                </ul>
                <div class="header-button wow fadeInUp" data-wow-delay="1s">
                  <a href="/account/register" class="btn btn-common">ارتباط با من</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    {% for foo in list_product1 %}
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="{{ foo.img.url }}" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3>{{ foo.title }}</h3>
              <p>{{ foo.desc }}</p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> نام </span> <span class="pro-detail">{{ foo.name }}</span></li>
                  <li><span class="pro-title"> سن </span> <span class="pro-detail">{{ foo.age }}</span></li>
                  <li><span class="pro-title"> کشور </span> <span class="pro-detail">{{ foo.country }}</span></li>
                  <li><span class="pro-title">محل زندگی </span> <span class="pro-detail">{{ foo.town }}</span></li>
                  <li><span class="pro-title"> ایمیل </span> <span class="pro-detail">{{ foo.email }}</span></li>
                  <li><span class="pro-title"> شماره تماس </span> <span class="pro-detail">{{ foo.phone_number }}</span></li>
                </ul>
              </div>
              <a href="/account/register" class="btn btn-danger"><i class="icon-speech"></i> تماس با من</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    <!-- About Section End -->

    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">من چه مهارت هایی دارم؟</h2>
      <div class="container">
        <div class="row">
          {% for foo in list_product2 %}
          	<div class="col-md-6 col-lg-3 col-xs-12"   style="margin-top: 20px">
            <div class="services-item wow fadeInDown" data-wow-delay="0.3s">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="{{ foo.path1 }}"/><path d="{{ foo.path2 }}"/></svg>

              <div class="services-content">
                <h3><a>{{ foo.title }}</a></h3>
                   <br/>
                <p>{{ foo.desc }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">تحصیلات</h2>
                </li>
                <li>
                    {% for foo in list_product3 %}
                    	<div class="content-text" style="margin-top: 20px">
                    <h3 class="line-title">{{ foo.title }}</h3>
                    <span>1390-136</span>
                    <p class="line-text">{{ foo.desc }}</p>
                        </div>
                    {% endfor %}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">تجربه ها</h2>
                </li>
                <li>
                    {% for foo in list_product7 %}
                    	<div class="content-text" style="margin-top: 20px">

                    <h3 class="line-title">{{ foo.title }}</h3>

                            <span>{{ foo.date }}</span>
                    <p class="line-text">{{ foo.desc }}</p>
                        </div>
                    {% endfor %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
      <!-- Container Starts -->
      <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">نمونه کار های من</h2>
        <div class="row">
          <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
            {% for foo in list_product4 %}
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="shot-item">
                     <img src="{{ foo.img.url }}" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="{{ foo.img.url }}">
                        <i class="icon-eye" style="margin-left: 3px;"></i>
                      </a>
                      <a class="link" href="#">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">

            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="footer-right-area wow fadeIn">
                <h2>آدرس محل کار</h2>
                <div class="footer-right-contact">
                    {% for foo in list_product6 %}
                          <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>
                        {{ foo.title_work_place }}
                    </p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="#">{{ foo.email }}</a></p>

                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="#">{{ foo.phone_number }}</a></p>

                  </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-md-12"  style="margin-top: 50px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199.99766970347198!2d48.48117873072624!3d36.675397483964986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ff611d14669abc1%3A0xeac2a81c9539b373!2z2KzZh9in2K8g2K_Yp9mG2LTar9in2YfbjA!5e0!3m2!1sfa!2s!4v1701021860466!5m2!1sfa!2s" width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section End -->
    {% endblock body %}
    {% block footer %}

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">

                <li>
                  <a class="twitter" href="/account/register"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="/account/register"><i class="icon-social-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
     {% endblock footer %}
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'assets/js/jquery-min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mixitup.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nav.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/nivo-lightbox.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
    <script src="{% static 'assets/js/contact-form-script.min.js' %}"></script>
    <script src="{% static 'assets/js/map.js' %}"></script>
    <script type="text/javascript">
      !function(){var i="qcAx4D",a=window,d=document;function g(){var g=d.createElement("script"),s="https://www.goftino.com/widget/"+i,l=localStorage.getItem("goftino_"+i);g.async=!0,g.src=l?s+"?o="+l:s;d.getElementsByTagName("head")[0].appendChild(g);}"complete"===d.readyState?g():a.attachEvent?a.attachEvent("onload",g):a.addEventListener("load",g,!1);}();
    </script>
  </body>
</html>

